.mt{
    margin-top: 20px;
}
.mb{
    margin-bottom: 20px;
}

.example-header-image {
    background-image: url('../../../../assets/test.png');
    background-size: cover;
  }
  .ml{
      margin-left: 10px;
  }

.mt10{
    margin-top: 10px;
}